.home{
    max-width:60%;
    margin: auto;
    display: flex;
    #post{
        flex:0.7;
        @media screen and (max-width:600px) {
            flex:1;
        }
    }
    .sidebar{
    flex:0.3;
    margin-top: 2rem;
    position: sticky;
    top:6rem;
    height: 100vh;
     @media screen and (max-width:600px) {
         display: none;
     }
    }
    @media screen and (max-width:1000px){
        max-width: 80%;
    }
    @media screen and (max-width:600px){
        max-width: 90%;
    }
}