.card{
    min-width:40%;
    width:40%;
    margin: 2rem auto;
    .card-title{
        font-size: 4rem;
        font-family: 'Grand Hotel', 'cursive';
        color:black;
        text-align: center;
        margin-bottom: 3rem !important;
    }
    form{
        margin-top: 1rem;
        .row{
            margin-bottom: 1rem !important;
            .input-field{
                margin-top: 1rem;
                padding:0;
                margin-bottom: 0rem;
                a{
                    font-size: 1.2rem;
                    text-align: center;
                    color:#94A4F6;    
                }
            }
            input{
                border:.2rem solid lightgray !important;
                padding:0 !important;
                height:2rem !important;
            }
        }
    }
    .btn{
        width:100%;
    }
    .card-action{
        text-align: center;
        span{
            a{
                font-size: 1.2rem;
                color: #94A4F6;
            }

        }
    }
    @media screen and (max-width:1000px) {
        min-width:60%;
        width:60%;
        .card-title {
            font-size: 3.5rem;
        }
    }
    @media screen and (max-width:600px) {
        min-width:80%;
        width:80%;
        .card-title {
            font-size: 2.5rem;
        }
    }
}