.createpost{
    .card{
        max-width: 60%;
        margin:auto;
        margin-top: 2rem;
        padding: 1rem;
        .file-field{
            .btn{
                width:20%;
                
            }
        }
    }
}